@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');



h1.h1cursiveBlack{
  font-family: 'Pacifico', cursive;
}

h1.h1cursiveRed{
  font-family: 'Pacifico', cursive;
  color: red
}

h1.h1stencilRed{
  font-family: 'Allerta Stencil', sans-serif;
  color: red
}

h2.h2stencilBlack{
  font-family: 'Allerta Stencil', sans-serif;
}

h3.h3cursiveBlack{
  font-family: 'Pacifico', cursive;
}

h4.h4cursiveBlack{
  font-family: 'Pacifico', cursive;
}

h4.h4stencilBlack{
  font-family: 'Allerta Stencil', sans-serif;
}

h1.challenge{
  font-family: 'Allerta Stencil', sans-serif;
  padding-left:2em
}

h3.vs{
  font-family: 'Allerta Stencil', sans-serif;
  padding-left:2em
}

h1.nav{
  font-family: 'Allerta Stencil', sans-serif;
  color: white
}

html,body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

h1.player1 {
    font-family: 'Allerta Stencil', sans-serif;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: red
  }

button.winner {
  font-size: 650%;
  transform: rotate(-20deg);
}

.winner a:link {
  color: red;
}
.winner a:visited {
  color: red;
}

button{
  background-color: black
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
a:hover{
  color: white;
}
a:active{
  color: white;
}
input[type=button], input[type=submit]{
  color: white;
   background-color:black;
}

table{
  width: 25%;
}

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
