<h1>Welcome to So You Think You Can <strike> Dance </strike> Drink? </h1>

<h2>Instructions:</h2>
<br />
<p>Throw down your best dance moves in one-on-one dance battles!</p>
<p>Winner goes on to the next round, and the loser has to drink!</p>

<h2><%=link_to "Start Game", new_player_path%></h2>
