<div>
  <br />
  <br />
  <h1 class="h1cursiveBlack">Welcome to</h1>
  <h1 class="h1stencilRed">SO YOU THINK YOU CAN <font color="black"><strike>dance</strike></font> DRINK? </h1>
  <br />
  <br />
  <h3 class="instructions">Instructions:</h3>
  <br />
  <h4>Throw down your best dance moves in one-on-one dance battles!</h4><br />
  <h4>Winner goes on to the next round, and the loser has to drink!</h4><br />
  <h4>Click on Start Game to begin playing.</h4><br />
  <h4>If you would like to add your own challenge, click on Add a Custom Challenge.</h4>
  <br /><br />
  <button><%=link_to "Start Game", new_player_path%></button>
  <br /><br />
  <button><%=link_to "Add a Custom Challenge", new_challenge_path%></button>
</div>
