<div>
  <h1>Welcome to So You Think You Can <strike> Dance </strike> Drink? </h1>
  <br />
  <br />
  <h3>Instructions:</h3>
  <br />
  <h4>Throw down your best dance moves in one-on-one dance battles!</h4>
  <h4>Winner goes on to the next round, and the loser has to drink!</h4>
  <br />
  <button><%=link_to "Start Game", new_player_path%></button>
  <br />
  <button><%=link_to "Add a Custom Challenge", new_challenge_path%></button>
</div>
