<div class="center-block">
  <h1 class="think">
    SO <br /><br /><br />
    YOU <br /><br /><br />
    THINK <br /><br /><br />
    YOU <br /><br /><br />
    CAN  <br /><br /><br />
    <strike>dance</strike> <br /><br /><br />
    DRINK?
  </h1>
</div>

<body bgcolor="#FF00">
