<div class="center-block" id="navBackground">
  <h1 class="nav">
    SO <br /><br /><br />
    YOU <br /><br /><br />
    THINK <br /><br /><br />
    YOU <br /><br /><br />
    CAN  <br /><br /><br />
    <font color="red"><strike>dance</strike></font><br /><br />
    DRINK?
  </h1>
</div>

<body bgcolor="#FF00">
